.DS_Store
*.pyc
*.cpython*
db.sqlite3
.env
google-sheets-creds.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/config.yml
