.DS_Store
*.pyc
*.cpython*
db.sqlite3
.env
venv/
node_modules/
.vscode/
npm-debug.log
env.json
main  # Go binary

functions/send-image/*
!functions/send-image/function.json
!functions/send-image/main.py
!functions/send-image/requirements.txt
