.DS_Store
*.pyc
*.cpython*
db.sqlite3
.env
venv/
node_modules/
.vscode/
npm-debug.log
env.json
main
target/

misc/send-image/*
!misc/send-image/function.json
!misc/send-image/main.py
!misc/send-image/requirements.txt
