<!-- This is a very rudimentary implementation of a UI for Sasha. I think
my intention is to use a front-end framework like vue.js. But first I need
to design it. This current implementation is supposed to be very minimal, not
even using jQuery. -->

<head>
    <!-- TODO: Collect Static and get in the Django way -->
    <script src="/static/vendor/js/jquery-3.2.1.min.js"></script>
</head>

<h2>This is Sasha.</h2>
<div>
    <input type="checkbox" id="salt-lamp" name="interest" value="salt-lamp">
    <label id="salt-lamp-name" for="salt-lamp">Salt Lamp</label>
    <label id="salt-lamp-state" for="salt-lamp">( )</label>
</div>


<script>

    // Get context
    var desired_state = JSON.parse('{{ desired_state|escapejs }}');
    var current_state = JSON.parse('{{ current_state|escapejs }}');

    // Collect items
    var items = {
        salt_lamp: document.querySelector('#salt-lamp')
    };

    // Prepare
    setDesiredState(items, desired_state);
    setCurrentState(current_state);
    addClickEventListener(items);

    // Set the current desired_state for all items using data passed in context
    function setDesiredState(items, desired_state) {
        items.salt_lamp.checked = desired_state.salt_lamp.state === 'on';
    }

    // Set the current_state for all items using data passed in context
    // TODO: This janky label manipulation is not the right approach.
    function setCurrentState(current_state) {
        var salt_lamp_state_label = document.querySelector('#salt-lamp-state');
        salt_lamp_state_label.textContent = '(' + current_state.salt_lamp.state + ')';
    }

    // Add event listeners for all given items
    function addClickEventListener(items) {
        for (key in items) {
            var item = items[key];
            item.addEventListener('click', function(e) {
                updateDesiredState(items);
            });
        }
    }

    // Call this function any time an input changes to read all inputs and
    // update the current state. This is not a very efficient. It is simple
    // to program and add new discrete services to, though. It will suffice
    // for a while.
    function updateDesiredState(items) {
        var desired_state = {
            salt_lamp: {
                state: items.salt_lamp.checked ? 'on' : 'off'
            }
        };

        var payload = {
            desired_state: desired_state
        };
        var data = JSON.stringify(payload);

        $.ajax({
            url: '/api/state/',
            type: 'POST',
            data: data,
            success: function(res) {
                console.log('success', res);
                // TODO: call setCurrentState using response
            },
            error: function(err) {
                console.log('updateDesiredState() error:', err);
            }
        });
    }

</script>
