Server started at: http://0.0.0.0:8081
WebSocket error: Event {
  type: 'error',
  message: 'Network error: ws://0.0.0.0:6680/mopidy/ws/: connect ECONNREFUSED 0.0.0.0:6680',
  bubbles: false,
  cancelable: false,
  currentTarget: 
   Client {
     url: 'ws://0.0.0.0:6680/mopidy/ws/',
     _driver: 
      Client {
        version: 'hybi-13',
        domain: null,
        _events: [Object],
        _eventsCount: 4,
        _maxListeners: undefined,
        _request: null,
        _reader: [Object],
        _options: [Object],
        _maxLength: 67108863,
        _headers: [Object],
        __queue: [],
        readyState: -1,
        url: 'ws://0.0.0.0:6680/mopidy/ws/',
        io: [Object],
        messages: [Object],
        _extensions: [Object],
        _stage: 0,
        _masking: true,
        _protocols: [],
        _requireMasking: undefined,
        _pingCallbacks: {},
        _key: 'Tc0vGADZxGOsZ9EYmOX4oA==',
        _accept: 'tO6wkGkiGdP+2fdGI9I9Njh3GUQ=',
        _http: [Object],
        _pathname: '/mopidy/ws/' },
     _stream: 
      Socket {
        connecting: false,
        _hadError: false,
        _handle: null,
        _parent: null,
        _host: null,
        _readableState: [Object],
        readable: false,
        domain: null,
        _events: [Object],
        _eventsCount: 8,
        _maxListeners: undefined,
        _writableState: [Object],
        writable: false,
        allowHalfOpen: false,
        destroyed: true,
        _bytesDispatched: 0,
        _sockname: null,
        _pendingData: null,
        _pendingEncoding: '',
        server: null,
        _server: null,
        _idleNext: null,
        _idlePrev: null,
        _idleTimeout: -1,
        read: [Function],
        _consuming: true },
     writable: true,
     readable: true,
     _ping: undefined,
     _pingId: 0,
     readyState: 0,
     bufferedAmount: 0,
     protocol: '',
     version: 'hybi-13',
     _events: { error: [Function] },
     _eventsCount: 1,
     onclose: [Function: bound ],
     onerror: [Function: bound ],
     onopen: [Function: bound ],
     onmessage: [Function: bound ] },
  target: 
   Client {
     url: 'ws://0.0.0.0:6680/mopidy/ws/',
     _driver: 
      Client {
        version: 'hybi-13',
        domain: null,
        _events: [Object],
        _eventsCount: 4,
        _maxListeners: undefined,
        _request: null,
        _reader: [Object],
        _options: [Object],
        _maxLength: 67108863,
        _headers: [Object],
        __queue: [],
        readyState: -1,
        url: 'ws://0.0.0.0:6680/mopidy/ws/',
        io: [Object],
        messages: [Object],
        _extensions: [Object],
        _stage: 0,
        _masking: true,
        _protocols: [],
        _requireMasking: undefined,
        _pingCallbacks: {},
        _key: 'Tc0vGADZxGOsZ9EYmOX4oA==',
        _accept: 'tO6wkGkiGdP+2fdGI9I9Njh3GUQ=',
        _http: [Object],
        _pathname: '/mopidy/ws/' },
     _stream: 
      Socket {
        connecting: false,
        _hadError: false,
        _handle: null,
        _parent: null,
        _host: null,
        _readableState: [Object],
        readable: false,
        domain: null,
        _events: [Object],
        _eventsCount: 8,
        _maxListeners: undefined,
        _writableState: [Object],
        writable: false,
        allowHalfOpen: false,
        destroyed: true,
        _bytesDispatched: 0,
        _sockname: null,
        _pendingData: null,
        _pendingEncoding: '',
        server: null,
        _server: null,
        _idleNext: null,
        _idlePrev: null,
        _idleTimeout: -1,
        read: [Function],
        _consuming: true },
     writable: true,
     readable: true,
     _ping: undefined,
     _pingId: 0,
     readyState: 0,
     bufferedAmount: 0,
     protocol: '',
     version: 'hybi-13',
     _events: { error: [Function] },
     _eventsCount: 1,
     onclose: [Function: bound ],
     onerror: [Function: bound ],
     onopen: [Function: bound ],
     onmessage: [Function: bound ] },
  eventPhase: 2 }
WebSocket error: Event {
  type: 'error',
  message: 'Network error: ws://0.0.0.0:6680/mopidy/ws/: connect ECONNREFUSED 0.0.0.0:6680',
  bubbles: false,
  cancelable: false,
  currentTarget: 
   Client {
     url: 'ws://0.0.0.0:6680/mopidy/ws/',
     _driver: 
      Client {
        version: 'hybi-13',
        domain: null,
        _events: [Object],
        _eventsCount: 4,
        _maxListeners: undefined,
        _request: null,
        _reader: [Object],
        _options: [Object],
        _maxLength: 67108863,
        _headers: [Object],
        __queue: [],
        readyState: -1,
        url: 'ws://0.0.0.0:6680/mopidy/ws/',
        io: [Object],
        messages: [Object],
        _extensions: [Object],
        _stage: 0,
        _masking: true,
        _protocols: [],
        _requireMasking: undefined,
        _pingCallbacks: {},
        _key: 'gDYrRS2orqqb4r9h3MgDSg==',
        _accept: '9nNAOcK+MdraqyRPOr9SyV9yTEY=',
        _http: [Object],
        _pathname: '/mopidy/ws/' },
     _stream: 
      Socket {
        connecting: false,
        _hadError: false,
        _handle: null,
        _parent: null,
        _host: null,
        _readableState: [Object],
        readable: false,
        domain: null,
        _events: [Object],
        _eventsCount: 8,
        _maxListeners: undefined,
        _writableState: [Object],
        writable: false,
        allowHalfOpen: false,
        destroyed: true,
        _bytesDispatched: 0,
        _sockname: null,
        _pendingData: null,
        _pendingEncoding: '',
        server: null,
        _server: null,
        _idleNext: null,
        _idlePrev: null,
        _idleTimeout: -1,
        read: [Function],
        _consuming: true },
     writable: true,
     readable: true,
     _ping: undefined,
     _pingId: 0,
     readyState: 0,
     bufferedAmount: 0,
     protocol: '',
     version: 'hybi-13',
     _events: { error: [Function] },
     _eventsCount: 1,
     onclose: [Function: bound ],
     onerror: [Function: bound ],
     onopen: [Function: bound ],
     onmessage: [Function: bound ] },
  target: 
   Client {
     url: 'ws://0.0.0.0:6680/mopidy/ws/',
     _driver: 
      Client {
        version: 'hybi-13',
        domain: null,
        _events: [Object],
        _eventsCount: 4,
        _maxListeners: undefined,
        _request: null,
        _reader: [Object],
        _options: [Object],
        _maxLength: 67108863,
        _headers: [Object],
        __queue: [],
        readyState: -1,
        url: 'ws://0.0.0.0:6680/mopidy/ws/',
        io: [Object],
        messages: [Object],
        _extensions: [Object],
        _stage: 0,
        _masking: true,
        _protocols: [],
        _requireMasking: undefined,
        _pingCallbacks: {},
        _key: 'gDYrRS2orqqb4r9h3MgDSg==',
        _accept: '9nNAOcK+MdraqyRPOr9SyV9yTEY=',
        _http: [Object],
        _pathname: '/mopidy/ws/' },
     _stream: 
      Socket {
        connecting: false,
        _hadError: false,
        _handle: null,
        _parent: null,
        _host: null,
        _readableState: [Object],
        readable: false,
        domain: null,
        _events: [Object],
        _eventsCount: 8,
        _maxListeners: undefined,
        _writableState: [Object],
        writable: false,
        allowHalfOpen: false,
        destroyed: true,
        _bytesDispatched: 0,
        _sockname: null,
        _pendingData: null,
        _pendingEncoding: '',
        server: null,
        _server: null,
        _idleNext: null,
        _idlePrev: null,
        _idleTimeout: -1,
        read: [Function],
        _consuming: true },
     writable: true,
     readable: true,
     _ping: undefined,
     _pingId: 0,
     readyState: 0,
     bufferedAmount: 0,
     protocol: '',
     version: 'hybi-13',
     _events: { error: [Function] },
     _eventsCount: 1,
     onclose: [Function: bound ],
     onerror: [Function: bound ],
     onopen: [Function: bound ],
     onmessage: [Function: bound ] },
  eventPhase: 2 }
mopidy_stderr: INFO     Starting Mopidy frontends: MpdFrontend, HttpFrontend, SpotmopFrontend, QueueManagerFrontend

mopidy_stderr: INFO     MPD server running at [::]:6600

mopidy_stderr: INFO     HTTP server running at [::]:6680
mopidy_stderr: 
INFO     Starting Spotmop 2.10.1

mopidy_stderr: INFO     Starting GLib mainloop

mopidy_stderr: INFO     Pusher server running at [0.0.0.0]:6681
mopidy_stderr: 

hi
kill ChildProcess {
  domain: null,
  _events: 
   { close: [Function: exithandler],
     error: [Function: errorhandler],
     exit: [Function] },
  _eventsCount: 3,
  _maxListeners: undefined,
  _closesNeeded: 3,
  _closesGot: 0,
  connected: false,
  signalCode: null,
  exitCode: null,
  killed: false,
  spawnfile: '/bin/sh',
  _handle: Process { owner: [Circular], onexit: [Function], pid: 4076 },
  spawnargs: 
   [ '/bin/sh',
     '-c',
     '/Users/benwiz/github/personal/sasha/appendages/mopidy/mopidy' ],
  pid: 4076,
  stdin: 
   Socket {
     connecting: false,
     _hadError: false,
     _handle: 
      Pipe {
        bytesRead: 0,
        _externalStream: {},
        fd: 17,
        writeQueueSize: 0,
        owner: [Circular],
        onread: [Function: onread],
        reading: true },
     _parent: null,
     _host: null,
     _readableState: 
      ReadableState {
        objectMode: false,
        highWaterMark: 16384,
        buffer: [Object],
        length: 0,
        pipes: null,
        pipesCount: 0,
        flowing: null,
        ended: false,
        endEmitted: false,
        reading: true,
        sync: false,
        needReadable: true,
        emittedReadable: false,
        readableListening: false,
        resumeScheduled: false,
        defaultEncoding: 'utf8',
        ranOut: false,
        awaitDrain: 0,
        readingMore: false,
        decoder: null,
        encoding: null },
     readable: false,
     domain: null,
     _events: 
      { end: [Object],
        finish: [Function: onSocketFinish],
        _socketEnd: [Function: onSocketEnd] },
     _eventsCount: 3,
     _maxListeners: undefined,
     _writableState: 
      WritableState {
        objectMode: false,
        highWaterMark: 16384,
        needDrain: false,
        ending: false,
        ended: false,
        finished: false,
        decodeStrings: false,
        defaultEncoding: 'utf8',
        length: 0,
        writing: false,
        corked: 0,
        sync: true,
        bufferProcessing: false,
        onwrite: [Function: bound onwrite],
        writecb: null,
        writelen: 0,
        bufferedRequest: null,
        lastBufferedRequest: null,
        pendingcb: 0,
        prefinished: false,
        errorEmitted: false,
        bufferedRequestCount: 0,
        corkedRequestsFree: [Object] },
     writable: true,
     allowHalfOpen: false,
     destroyed: false,
     _bytesDispatched: 0,
     _sockname: null,
     _writev: null,
     _pendingData: null,
     _pendingEncoding: '',
     server: null,
     _server: null },
  stdout: 
   Socket {
     connecting: false,
     _hadError: false,
     _handle: 
      Pipe {
        bytesRead: 0,
        _externalStream: {},
        fd: 19,
        writeQueueSize: 0,
        owner: [Circular],
        onread: [Function: onread],
        reading: true },
     _parent: null,
     _host: null,
     _readableState: 
      ReadableState {
        objectMode: false,
        highWaterMark: 16384,
        buffer: [Object],
        length: 0,
        pipes: null,
        pipesCount: 0,
        flowing: true,
        ended: false,
        endEmitted: false,
        reading: true,
        sync: false,
        needReadable: true,
        emittedReadable: false,
        readableListening: false,
        resumeScheduled: false,
        defaultEncoding: 'utf8',
        ranOut: false,
        awaitDrain: 0,
        readingMore: false,
        decoder: [Object],
        encoding: 'utf8' },
     readable: true,
     domain: null,
     _events: 
      { end: [Object],
        finish: [Function: onSocketFinish],
        _socketEnd: [Function: onSocketEnd],
        close: [Function],
        data: [Object] },
     _eventsCount: 5,
     _maxListeners: undefined,
     _writableState: 
      WritableState {
        objectMode: false,
        highWaterMark: 16384,
        needDrain: false,
        ending: false,
        ended: false,
        finished: false,
        decodeStrings: false,
        defaultEncoding: 'utf8',
        length: 0,
        writing: false,
        corked: 0,
        sync: true,
        bufferProcessing: false,
        onwrite: [Function: bound onwrite],
        writecb: null,
        writelen: 0,
        bufferedRequest: null,
        lastBufferedRequest: null,
        pendingcb: 0,
        prefinished: false,
        errorEmitted: false,
        bufferedRequestCount: 0,
        corkedRequestsFree: [Object] },
     writable: false,
     allowHalfOpen: false,
     destroyed: false,
     _bytesDispatched: 0,
     _sockname: null,
     _writev: null,
     _pendingData: null,
     _pendingEncoding: '',
     server: null,
     _server: null,
     read: [Function],
     _consuming: true },
  stderr: 
   Socket {
     connecting: false,
     _hadError: false,
     _handle: 
      Pipe {
        bytesRead: 1236,
        _externalStream: {},
        fd: 21,
        writeQueueSize: 0,
        owner: [Circular],
        onread: [Function: onread],
        reading: true },
     _parent: null,
     _host: null,
     _readableState: 
      ReadableState {
        objectMode: false,
        highWaterMark: 16384,
        buffer: [Object],
        length: 0,
        pipes: null,
        pipesCount: 0,
        flowing: true,
        ended: false,
        endEmitted: false,
        reading: true,
        sync: false,
        needReadable: true,
        emittedReadable: false,
        readableListening: false,
        resumeScheduled: false,
        defaultEncoding: 'utf8',
        ranOut: false,
        awaitDrain: 0,
        readingMore: false,
        decoder: [Object],
        encoding: 'utf8' },
     readable: true,
     domain: null,
     _events: 
      { end: [Object],
        finish: [Function: onSocketFinish],
        _socketEnd: [Function: onSocketEnd],
        close: [Function],
        data: [Object] },
     _eventsCount: 5,
     _maxListeners: undefined,
     _writableState: 
      WritableState {
        objectMode: false,
        highWaterMark: 16384,
        needDrain: false,
        ending: false,
        ended: false,
        finished: false,
        decodeStrings: false,
        defaultEncoding: 'utf8',
        length: 0,
        writing: false,
        corked: 0,
        sync: true,
        bufferProcessing: false,
        onwrite: [Function: bound onwrite],
        writecb: null,
        writelen: 0,
        bufferedRequest: null,
        lastBufferedRequest: null,
        pendingcb: 0,
        prefinished: false,
        errorEmitted: false,
        bufferedRequestCount: 0,
        corkedRequestsFree: [Object] },
     writable: false,
     allowHalfOpen: false,
     destroyed: false,
     _bytesDispatched: 0,
     _sockname: null,
     _writev: null,
     _pendingData: null,
     _pendingEncoding: '',
     server: null,
     _server: null,
     read: [Function],
     _consuming: true },
  stdio: 
   [ Socket {
       connecting: false,
       _hadError: false,
       _handle: [Object],
       _parent: null,
       _host: null,
       _readableState: [Object],
       readable: false,
       domain: null,
       _events: [Object],
       _eventsCount: 3,
       _maxListeners: undefined,
       _writableState: [Object],
       writable: true,
       allowHalfOpen: false,
       destroyed: false,
       _bytesDispatched: 0,
       _sockname: null,
       _writev: null,
       _pendingData: null,
       _pendingEncoding: '',
       server: null,
       _server: null },
     Socket {
       connecting: false,
       _hadError: false,
       _handle: [Object],
       _parent: null,
       _host: null,
       _readableState: [Object],
       readable: true,
       domain: null,
       _events: [Object],
       _eventsCount: 5,
       _maxListeners: undefined,
       _writableState: [Object],
       writable: false,
       allowHalfOpen: false,
       destroyed: false,
       _bytesDispatched: 0,
       _sockname: null,
       _writev: null,
       _pendingData: null,
       _pendingEncoding: '',
       server: null,
       _server: null,
       read: [Function],
       _consuming: true },
     Socket {
       connecting: false,
       _hadError: false,
       _handle: [Object],
       _parent: null,
       _host: null,
       _readableState: [Object],
       readable: true,
       domain: null,
       _events: [Object],
       _eventsCount: 5,
       _maxListeners: undefined,
       _writableState: [Object],
       writable: false,
       allowHalfOpen: false,
       destroyed: false,
       _bytesDispatched: 0,
       _sockname: null,
       _writev: null,
       _pendingData: null,
       _pendingEncoding: '',
       server: null,
       _server: null,
       read: [Function],
       _consuming: true } ] }
mopidy_stderr: INFO     GLib mainloop got SIGTERM. Exiting...
INFO     Stopping Mopidy frontends
INFO     Stopping Mopidy core
INFO     Stopping Mopidy backends
INFO     Stopping Mopidy audio
INFO     Stopping Mopidy mixer

