<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Sasha</title>

        <!-- Vendor -->
        {{!-- <script type="text/javascript" src="/public/vendor/js/jquery-3.1.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/public/vendor/css/bootstrap-3.3.7.min.css">
        <script type="text/javascript" src="/public/vendor/js/bootstrap-3.3.7.min.js"></script> --}}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Tangerine" rel="stylesheet">

        <!-- Local -->
        {{!-- <link rel="stylesheet" type="text/css" href="/public/css/base.css"> --}}

    </head>
    <body>
        <div id="page-container">
            {{{content}}}
        </div>
    </body>
</html>
